@font-face {
  font-family: 'Avenir';
  src:  url('../fonts/avenirnextcyr-regular-webfont.woff') format('woff'),
        url('../fonts/avenirnextcyr-regular-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src:  url('../fonts/avenirnextcyr-bold-webfont.woff') format('woff'),
  url('../fonts/avenirnextcyr-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
