.hamburger
    a.hamburger__link
        span.hamburger__link_item
.hamburger-menu
    nav.hamburger-menu__nav
        ul.hamburger-menu__list
            li.hamburger-menu__item.hamburger-menu__item--active
                a.hamburger-menu__link(href='') Buyer
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') Supplier
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') Customers
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') About
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') Help
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') Contact US