.hamburger
    a.hamburger__link
        span.hamburger__link_item
.hamburger-menu
    nav.hamburger-menu__nav
        ul.hamburger-menu__list
            li.hamburger-menu__item.hamburger-menu__item--active
                a.hamburger-menu__link(href='') Музеи
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') Арт-объекты
                ul.hamburger-drop__list
                    li.hamburger-drop__item
                        a.hamburger-drop__link(href="#") Деньги из розетки
                    li.hamburger-drop__item
                        a.hamburger-drop__link(href="#") Ромашки
                    li.hamburger-drop__item
                        a.hamburger-drop__link(href="#") Черное и белое
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') Новости музея
            li.hamburger-menu__item
                a.hamburger-menu__link(href='') Контакты