header.header.container
    .header-block__menu
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="#") Музеи
                li.nav__item.nav__item--drop
                    a.nav__link(href="#") Арт-объекты
                    ul.nav-drop__list
                        li.nav-drop__item
                            a.nav-drop__link(href="#") Деньги из розетки
                        li.nav-drop__item
                            a.nav-drop__link(href="#") Ромашки
                        li.nav-drop__item
                            a.nav-drop__link(href="#") Черное и белое
                li.nav__item
                    a.nav__link(href="#") Новости музея
                li.nav__item
                    a.nav__link(href="#") Контакты
